#superbar {
	width: 500px;
}
.dropdown {
	position: absolute;
	background-color: white;
	border: 1px solid black;
}
.dropdown li {
	padding: 4px;
}
.dropdown li.hover {
	background-color: grey;
	cursor: pointer;
}
.bet {
	border: 1px solid black;
	padding: 3px;
	margin: 4px;
	position: relative;
}
.bet .close {
	position: absolute;
	top: 1px;
	right: 1px;
	cursor: pointer;
}
.bet .icon {
	text-align: center;
	vertical-align: bottom;
}
.bet td {
	padding: 4px;
}
.bet input {
	width: 70px;
}

.dateselect {
	width: 7em;
}

#rightsection {
	margin: 0;
	padding: 0;
	margin-left: 340px;
	padding-left: 5px;
	border-left: 1px black solid;
}
#leftsection {
	margin: 0;
	padding: 0;
	padding-left: 5px;
	width: 320px;
	float: left;
}
h1.head {
	cursor: pointer;
	background-color: #EEE;
	padding: 2px !important;
	padding-left: 4px !important;
}
#accorselect li {
	cursor: pointer;
	margin: 4px;
}
#accorselect li.hover {
	color: gray;
}
