#superbar {
	width: 500px;
}
.dropdown {
	position: absolute;
	background-color: white;
	border: 1px solid black;
}
.dropdown li {
	padding: 4px;
}
.dropdown li.hover {
	background-color: grey;
	cursor: pointer;
}
.bet {
	border: 1px solid black;
	padding: 3px;
	margin: 4px;
}
.bet td {
	padding: 4px;
}
.bet input {
	width: 70px;
}

#rightsection {
	margin: 0;
	padding: 0;
	margin-left: 300px;
	padding-left: 5px;
	border-left: 1px black solid;
}
