.vote button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.vote button.disabled {
	cursor: auto;
}
.voteinfo {
	margin-left: 65px;
}
.votes {
	float: left;
	width: 50px;
	margin-top: 10px;
	clear: both;
}
.votes .selected {
	background-color: #E0E0E0;
}
.disabled {
	/* Required for IE 5, 6, 7 */
        /* ...or something to trigger hasLayout, like zoom: 1; */
	zoom: 1;
	
	/* Theoretically for IE 8 & 9 (more valid) */
        /* ...but not required as filter works too */
        /* should come BEFORE filter */
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

        /* This works in IE 8 & 9 too */
        /* ... but also 5, 6, 7 */
        filter: alpha(opacity=50);

        /* Older than Firefox 0.9 */
        -moz-opacity:0.5;

        /* Safari 1.x (pre WebKit!) */
        -khtml-opacity: 0.5;

        /* Modern!
        /* Firefox 0.9+, Safari 2?, Chrome any?
        /* Opera 9+, IE 9+ */
        opacity: 0.5;
}
.inputtext {
	margin: 10px;
}
.comment {
	margin: 10px;
	border: 1px solid #0049aa;
}
.comment .title {
	background: #4076c0;
	padding: 5px;
	color: white;
	font-weight: bold;
}
.comment .text {
	padding: 10px;
}