/*
Colors-
bg: #3366CC
1: #FFD82B
2: #FF872B
*/
body {
	font-family: 'Arial';
	background-color: #36c;
	margin: 0;
	width: 1000px;
}
#container {
	padding-top: 1em;
	padding-left: 1em;
}
#header {
	padding: 10px;
}
#content {
	border: 1px solid #CCC;
	border-bottom: none;
	background-color: #FFF;
	padding: .5em;
}
#content h1 {
	font-size: 1.1em;
	padding: 10px 0;
}
#footer {
	border: 1px solid #CCC;
	border-top: none;
	text-align: center;
	color: #CCC;
	background-color: #FFF;
	font-size: .6em;
	padding-top: 2em;
	padding-bottom: 5px;
}
#footer a {
	text-decoration: none;
	color: #CCC;
}

/* Debugging */
.cake-sql-log caption, .cake-sql-log {
	background-color: #EEE;
	width: 100%;
}
.cake-sql-log {
	margin-top: 3em;
}
