h1 {
	color: #495D5C;
	font-size: 22px;
	font-weight: normal;
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 5px 0px;
	border-bottom: solid 1px #333;
}
p {
	margin: 7px 0;
}
table .number {
	text-align: right !important;
}
table .label {
	text-align: center !important;
}
table .date {
	text-align: center;
}
table.cell-centered th, table.cell-centered td {
	text-align: center;
}
table.cell-left th, table.cell-left td {
	text-align: left;
}
table.spaced-table th, table.spaced-table td {
	padding: 4px;
}
.clickable {
	cursor: pointer;
}
.extra-click {
	padding: 2px;
}

#content ul {
	list-style-type: circle;
	padding: .5em 1.5em;
}
.hidden {
	display: none;
}

.clear {
	clear: both;
}
/** Float fix http://www.positioniseverything.net/easyclearing.html */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/** Table Styles **/

div.header-table h2 {
	background: url('../img/table_head_right.jpg') no-repeat right top;
	color: white;
	margin: 0;
	padding: 0;
}
div.header-table h2 div {
	background: url('../img/table_head_left.jpg') no-repeat left top;
	padding: 5px 15px;
}

/** CSS LAYOUT **/
body {
	background-image: url('../img/bg.jpg');
	background-repeat: repeat-x;
	background-position: center top;
	background-color: #3a82e6;
	width: 1000px;
	margin: 0 auto;
	/*color: #555555;*/
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}
#footer {
	background: url('../img/footer_bg.png') no-repeat center top;
	width: 1000px;
	height: 60px;
	text-align: center;
	font-size: .9em;
	padding-top: 15px;
	padding-bottom: 8px;
	color: #d1e5ff
}
#footer .sep {
	margin: 0;
}
#footer {
	text-align: center;
}
#copy {
	margin-top: 5px;
	clear: both;
}
#footer a {
	color: #d1e5ff;
	text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}
#navbar a {
	color: white;
}
#navbar .nav ul li {
	margin: 0 25px;
	display: inline;
}
#footer .nav ul li {
	margin: 0 5px;
	display: inline;
}
#footer .nav ul li a ,
#navbar .nav ul li a {
	text-decoration: none;
	color: white;
}
#footer .nav ul li a:hover,
#navbar .nav ul li a:hover {
	text-decoration: underline;
}
#navbar {
	background: url('../img/nav_bg.jpg') no-repeat left top;
	width: 1000px;
	height: 50px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
}
#navbar ul li {
	margin: 0 20px;
	padding-top: 10px;
	float: left;
}
#navbar ul li a {
	color: white;
	text-decoration: none;
}
#navbar ul li a:hover {
	text-decoration: underline;
}
#navbar ul li.far-right{
	float: right;
}
#header {
	height: 64px;
	padding-top: 10px;
}
#loginBox {
	width: 280px;
	height: 85px;
	float: right;
	background-color: white;
	text-align: center;
	padding: 5px;
	margin-right: 14px;
	margin-top: 20px;
}
#loginBox h4 {
	text-decoration: underline;
}
#banner {
	background-color: #959FA4;
}

#container {
	/* Nothing */
}
#content {
	background-color: #FFF;
	padding: 20px 15px;
}


#flashMessage {
	background-color: #FFF7D7;/*yellow from google*/
	padding: 6px;
}

/* Debugging */
.cake-sql-log caption, .cake-sql-log {
	background-color: #EEE;
	width: 100%;
}
.cake-sql-log {
	margin-top: 3em;
}
