#betTable table td, #betTable table th {
	padding: 0 4px;
}
#graph {
	width: 600px;
	height: 315px;
	float: left;
}

.context-menu-item-inner input {
	width: 5em;
}
.context-menu-item-inner label {
	font-size: 1.3em;
}

.context-menu-item.item-checked .context-menu-item-inner {
	background-image: url(../img/icons/check.png) !important;
}

#betTable table td {
	border: 1px solid grey;
}

/* The hover style has a border so needs to be 1px less */
table div.context-menu .context-menu-item .context-menu-item-inner {
	padding: 1px 16px 1px 35px;
}
table div.context-menu .context-menu-item-hover .context-menu-item-inner {
	padding: 0px 16px 0px 35px;
}
.stat-style-table {
	width: 400px;
	margin: 20px 40px;
	float: left;
}
.stat-style-table .header-table table {
	width: 100%;
}
.stat-style-table table td {
	border: 1px solid black;
}
table.buttons {
	border-collapse: collapse;
	border-spacing: 0px;
}
table.buttons td {
	text-align: center;
	cursor: pointer;
	padding: 5px;
	border: 1px solid black;
	background-color: #b3becd;
}
#record {
	width: 350px;
	float: right;
	margin-top: 15px;
}
#record .header-table {
	width: 350px;
}
#record table {
	width: 350px;
	border: 1px solid black;
	margin-bottom: 4px;
}
#shareLink {
	padding: 10px;
	text-align: center;
}
#shareLinkDialog label {
	width: 175px;
	float: left;
	text-align: right;
	margin-right: 10px;
}
#shareLinkDialog div {
	padding: 5px;
}
#shareLinkDialog a {
	margin: 5px;
}
.singleBet {
	background-color: #EEE;
	padding: 4px;
	border: 1px solid #DDD;
	margin: 4px;
}
