#betTable table td, #betTable table th {
	padding: 0 4px;
}
#graph {
	width: 800px;
	height: 400px;
}

.context-menu-item.item-checked .context-menu-item-inner {
	background-image: url(../img/icons/check.png) !important;
}